body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(255, 136, 0);
    padding: 20px;
    font-size: 30px;
    color:rgb(255, 136, 0)
}

.chamada {
    background: rgb(255, 136, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex   ;
    justify-content: center
    ;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
} 
img {
    height: 200px;
}

.categoria-video {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-video img {
    opacity: 0.5;
}

.categoria-video img:hover {
    opacity: 1.0;
    border: 1px solid white;
}

.categoria h2 {
    color: rgb(255, 136, 0) ;
}
